@model SchoolSystem.Models.Student

@{
    ViewData["Title"] = "Edit Students Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card mt-3 border-dark">
    <div class="card-header bg-dark bg-gradient">
        <h4 class="text-center text-white">
            @ViewBag.Title
        </h4>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group m-2 fw-bold">
                    <label asp-for="StudentName" class="control-label m-1"></label>
                    <input asp-for="StudentName" class="form-control" />
                    <span asp-validation-for="StudentName" class="text-danger"></span>
                </div>
                <div class="form-group m-2 fw-bold">
                    <label asp-for="StudentLastN" class="control-label m-1"></label>
                    <input asp-for="StudentLastN" class="form-control" />
                    <span asp-validation-for="StudentLastN" class="text-danger"></span>
                </div>
                <div class="form-group m-2 fw-bold">
                    <label asp-for="StudentAge" class="control-label m-1"></label>
                    <input asp-for="StudentAge" class="form-control" />
                    <span asp-validation-for="StudentAge" class="text-danger"></span>
                </div>
                <div class="form-group m-2 fw-bold">
                    <label asp-for="StudentParent" class="control-label m-1"></label>
                    <input asp-for="StudentParent" class="form-control" />
                    <span asp-validation-for="StudentParent" class="text-danger"></span>
                </div>
                <div class="form-group m-2 fw-bold">
                    <label asp-for="StudentPhoneParent" class="control-label m-1"></label>
                    <input asp-for="StudentPhoneParent" class="form-control" />
                    <span asp-validation-for="StudentPhoneParent" class="text-danger"></span>
                </div>
                <div class="form-group m-2 fw-bold">
                    <label asp-for="StudentEmail" class="control-label m-1"></label>
                    <input asp-for="StudentEmail" class="form-control" />
                    <span asp-validation-for="StudentEmail" class="text-danger"></span>
                </div>

                <div class="form-group card-footer">
                    <input type="submit" value="Save" class="btn btn-success" />
                     <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
