@model SchoolSystem.Models.Professor

@{
    ViewData["Title"] = "Create New Iten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-3 border-dark">
    <div class="card-header bg-dark bg-gradient">
        <h4 class="text-start text-white">
            @ViewBag.Title
        </h4>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group m-2 fw-bold">
                    <label asp-for="ProfessorName" class="control-label m-1"></label>
                    <input asp-for="ProfessorName" class="form-control" />
                    <span asp-validation-for="ProfessorName" class="text-danger"></span>
                </div>
                <div class="form-group m-2 fw-bold">
                    <label asp-for="ProfessorLastN" class="control-label m-1"></label>
                    <input asp-for="ProfessorLastN" class="form-control" />
                    <span asp-validation-for="ProfessorLastN" class="text-danger"></span>
                </div>
                <div class="form-group m-2 fw-bold">
                    <label asp-for="ProfessorAge" class="control-label m-1"></label>
                    <input asp-for="ProfessorAge" class="form-control" />
                    <span asp-validation-for="ProfessorAge" class="text-danger"></span>
                </div>
                <div class="form-group m-2 fw-bold">
                    <label asp-for="ProfessorClass" class="control-label m-1"></label>
                    <input asp-for="ProfessorClass" class="form-control" />
                    <span asp-validation-for="ProfessorClass" class="text-danger"></span>
                </div>
                <div class="form-group m-2 fw-bold">
                    <label asp-for="ProfessorPhone" class="control-label m-1"></label>
                    <input asp-for="ProfessorPhone" class="form-control" />
                    <span asp-validation-for="ProfessorPhone" class="text-danger"></span>
                </div>
                <div class="form-group card-footer">
                    <input type="submit" value="Create" class="btn btn-success" />
                     <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
